body
  padding-top 70px

*, h1, h2, h3, p, pre
  font-family 'Malgun Gothic', 'Dotum', sans-serif

.navbar-header>.logo
  width 230px
  height 0
  margin 8px 18px 0 0
  padding 35px 0 0 0
  overflow hidden
  background url(../img/logo.png) no-repeat
  background-size 230px 35px
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background url(../img/logo.png) no-repeat
    background-size 230px 35px

.strip
  width 100%
  background #176080
  padding-top 2px

footer
  margin-top 64px
  text-align center
  
.dropdown-toggle>span
  font-size 16pt
  line-height 0

.warn-dev
  font-weight bold
  font-size 24pt
  color red

.btn-arena-detail
  margin-left 24px

.tab-pane
  margin-top 16px

.refresh-icon
  font-size 34pt

.schedule-list-header
  margin-top 10px

.cursor-pointer
  cursor pointer