.root
  text-align center
  margin-top 64px

.root>h1
  position: relative
  display inline-block
  overflow hidden
  margin 0 0 60px 0
  padding 70px 0 0 0
  width 460px
  height 0
  background url(../img/logo.png) no-repeat
  background-size 460px 70px
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background url(../img/logo.png) no-repeat
    background-size 460px 70px