.container
  pre.
    device 오브젝트에 있는 함수 목록

    함수 device.readBlock(lba, buffer, callback)
      buffer는 Node의 Buffer
      callback의 첫 번째 인자는 오류(오류가 없다면 null)
      callback의 두 번째 인자는 주어진 buffer를 다시 넣어 줌

    함수 device.writeBlock(lba, buffer, callback)

    예제
    var buffer = new Buffer(512);
    device.readBlock(10, buffer, function (err, result) {
      if (err) {
        // 오류!
        return;
      }
      // buffer === result입니다.
      // 콜백이 깊어 buffer를 사용하기 곤란한 경우 result를 사용할 수 있습니다.
      // buffer로 접근하려고 하는 경우 function (err, result) 대신 function (err)로 쓸 수 있음
    });
    device.writeBlock(123, buffer, function (err, result) {
      if (err) {
        // 오류!
        return;
      }
      // 여기에서도 마찬가지로 buffer === result
    });

    함수 device.getLastLogicalBlockAddress()
      Android와 동일, LBA의 범위는 [0, getLastLogicalBlockAddress()], 동기적

    함수 device.getBlockLength()
      Android와 동일, 현재는 무조건 512라고 생각해도 되지만, 나중에 변경될 수 있으므로 이 함수를 호출하여 사용. 동기적