doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    title Eattle 저수준 개발자 도구
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content='Eattle 저수준 개발자 도구')
    meta(name='author', content='류형욱, 팀 Eattle')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/sweetalert/dist/sweetalert.min.css')
    link(rel='stylesheet', href='styles/lldt.css')
    link(rel='stylesheet', href='styles/root.css')
  body(ng-app='lldtApp')
    div(ui-view)
      .root
        h1 Eattle 저수준 개발자 도구
    span.glyphicon.glyphicon-refresh(style='opacity: 0')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')

    ///
      script(src='//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_ko-kr.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-cookies.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
      script(src='/bower_components/angular-ui-calendar/src/calendar.js')
      script(src='/bower_components/sweetalert/lib/sweet-alert.min.js')
    script(src='scripts.min.js')