doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    title Eattle 저수준 개발자 도구
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content='Eattle 저수준 개발자 도구')
    meta(name='author', content='류형욱, 팀 Eattle')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/sweetalert/dist/sweetalert.css')
    link(rel='stylesheet', href='styles/lldt.css')
    link(rel='stylesheet', href='styles/root.css')
  body(ng-app='lldtApp')
    div(ui-view)
      .root
        h1 Eattle 저수준 개발자 도구
    span.glyphicon.glyphicon-refresh(style='opacity: 0')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-i18n/angular-locale_ko-kr.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/moment/min/moment-with-locales.min.js')
    script(src='bower_components/lodash/lodash.min.js')
    script(src='bower_components/sweetalert/dist/sweetalert.min.js')
    script(src='scripts.min.js')